.navbar {
  height: 60px;
  display: flex;
  padding: 14px 20px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  background-color: aliceblue;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
}

.buttons {
  display: flex;
  text-align: right;
  margin-right: 1%;
  align-items: center;
}

.button {
  margin: 2%;
}
.Body {
  display: flex;
}
.BankPhoto {
  height: 20%;
  width: 54%;
  border: 2px solid black;
  margin: 1%;
  margin-top: 2%;
}
.twoparas {
  display: flex;
}
.para {
  padding: 2%;
  border: 2px solid black;
  margin: 3%;
}

.footer {
  background: linear-gradient(90deg, #282e3e 0%, #495470 100%);
  height: 270px;
  color: white;
}

.content {
  padding: 0 2%;
  padding-top: 2%;
}
