.customer--reg--form span > ErrorMessage {
  display: inline-block;
}
.customer--reg--form input:hover {
  border-color: #4096ff;
  border-inline-end-width: 1px;
}
.customer--reg--form input {
  /* box-sizing: border-box; */
  margin: 9px;
  padding: 4px 11px;
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px;
  line-height: 1.5714285714285714;
  list-style: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  position: relative;
  display: inline-block;
  width: 500px;
  min-width: 0;
  background-color: #ffffff;
  background-image: none;
  border-width: 1px;
  border-style: solid;
  border-color: #d9d9d9;
  border-radius: 6px;
  transition: all 0.2s;
}

.fd--reg--form input {
  /* box-sizing: border-box; */
  margin: 9px;
  padding: 4px 11px;
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px;
  line-height: 1.5714285714285714;
  list-style: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  position: relative;
  display: inline-block;
  min-width: 0;
  background-color: #ffffff;
  background-image: none;
  border-width: 1px;
  border-style: solid;
  border-color: #d9d9d9;
  border-radius: 6px;
  transition: all 0.2s;
}

.fd--reg--form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.customer--reg--form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.customer--reg--form--submit {
  width: 100px;
  margin: 1.5%;
}

.customer--reg--form--errors {
  color: red;
}
